.album {
    background-color: #262626;
    color: #fff;
    border-radius: 10px;
}

h2 {
    font-size: 28px;
}

li {
    margin: 0;
    padding: 0;
}

.btn {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.btn:hover {
    color: #fff;
}

.btn:visited {
    color: #fff;
}

.btn:active {
    color: #fff;
}
